.file-btn-name {
	padding: 14px 15px;
	border: 1px solid rgba(0, 0, 0, 87%);
	border-radius: 4px 0px 0px 4px;
	cursor: pointer;
}

.file-name {
	width: 100%;
	padding: 14px 15px;
	color: #7e7e7e;
	box-sizing: border-box;
	border-top: 1px solid #d0cfcf;
	border-right: 1px solid #d0cfcf;
	border-bottom: 1px solid #d0cfcf;
	border-radius: 0px 4px 4px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
