.file {
	display: flex;

	&--btn-name {
		padding: 14px 15px;
		border: 1px solid rgba(0, 0, 0, 87%);
		border-radius: 4px 0px 0px 4px;
		cursor: pointer;
	}

	&--placeholder-name {
		width: 100%;
		padding: 14px 15px;
		color: #7e7e7e;
		box-sizing: border-box;
		border-top: 1px solid #d0cfcf;
		border-right: 1px solid #d0cfcf;
		border-bottom: 1px solid #d0cfcf;
		border-radius: 0px 4px 4px 0px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.file-error {
	small {
		font-size: 12px;
		line-height: 14px;
		margin: 4px 0 0 16px;
		height: 14px;
		color: #cd3d40;
	}
}

label.file-error-brd {
	border: 1px solid #cb3d40;
}

span.file-error-brd {
	border-top: 1px solid #cb3d40;
	border-right: 1px solid #cb3d40;
	border-bottom: 1px solid #cb3d40;
}
