.reg-form-success {
	width: 100%;
	max-width: 328px;
	height: 290px;
	background: url('../../../assets/img/success-image.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
